---
layout: archive
---
{% include anchor_headings.html html=content h_min=3 h_max=3 beforeHeading=false anchorBody="<svg class='octicon' viewBox='0 0 16 16' version='1.1' width='16' height='32' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>" %}

<!-- {{content}} -->

<!-- {% include anchor_headings.html html=content anchorBody="#" h_min=3 %} -->

<div style="display: flex;">
{% include post_pagination.html%}

</div>


{% if site.comments.disqus.shortname %}
  {% include comments.html %}
{% endif %}
{% assign page_date = page.date | slice:0,4 %}


<!-- {% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
<div>
  <h4>Yearly Archive</h4>
 <div style="display: flex ;justify-content: space-around; flex-wrap: wrap;">
    {% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}

    {% for year in postsInYear %}
    {% if year.name == post_date%}
      <span style="flex-direction: row;">
        <a href="#{{ year.name }}">
          <span class="taxonomy__count">{{ year.name }} ({{ year.items | size }})</span>
        </a>
      </span>
      {%endif%}
    {% endfor %}
    </div>
</div> -->

<!-- {% for year in postsByYear %}
{% if year.name == page_date  %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
  {% endif %}
{% endfor %} -->

